* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background: rgba(85, 235, 240, 0.667);
}
.home {
    display: flex;
    flex-wrap: wrap;
}

.in-flex {
    flex: 1;
    min-width: 260px;
}

.in-flex:first-child {
    flex: 2;
    padding: 25px;
    background: #fff;
    margin: 20px;
    margin-bottom: 0px;
}

.in-flex div {
    padding: 25px;
    background: rgb(121, 243, 105);
    margin: 20px;
}
